@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

body {
  background: linear-gradient(#c0ffec 0%, #b59bff 40%, #8ed2fa 100%);
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 110px;
}

.profileimage {
  width: 200px;
}
.profile h2 {
  color: #000000;
  transform: translateY(10px);
}
.profile h4 {
  color: #000000;
}
.profile p {
  color: #000000;
  transform: translateY(-10px);
}
.biodata {
  background: linear-gradient(#ffffff 0%, #ffffffd8 40%, #ffffff00 100%);
  padding-bottom: 200px;
  padding-top: 55px;
}
.text-justify-custom {
  text-align: justify;
  text-indent: 40px;
}
.hobi {
  padding-top: 55px;
  padding-bottom: 100px;
}
.img-fluid {
  width: 500px;
  height: auto;
}
.text-start {
  padding-top: 55px;
  text-align: justify;
  text-indent: 40px;
}
.project {
  padding-top: 55px;
  padding-bottom: 100px;
}
.social-icons {
  margin-top: 20px;
}
.social-icons a {
  color: #000000;
  text-decoration: none;
  margin: 0 10px;
  font-size: 24px;
}
.content {
  padding: 20px;
}
.certificate {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff00;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.certificate img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
}
.certificate .details {
  flex: 1;
  text-align: center;
}
.certificate .details h3 {
  margin: 0;
  color: #a7a062;
}
.certificate .details h2 {
  margin: 10px 0;
}
.certificate .details p {
  margin: 5px 0 0;
}
@media (min-width: 768px) {
  .certificate {
    flex-direction: row;
    text-align: left;
  }
  .certificate .details {
    text-align: left;
    margin-right: 20px;
  }
  .certificate img {
    margin-top: 0;
  }
}
